/* style.css */
/* style.css */

/* Paleta de cores */
:root {
    --text-1: #2b3d4f;
    --text-2: #354a5f;
  --accent-1: #2ecc70;
  --accent-2: #287fb8;
  --accent-3: #f39c12;
}

/* Geral */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  background: #f4f4f4;
  color: #333;
}

h1 {
  color: var(--accent-1);
}

h2 {
  color: var(--accent-2);
}

/* Header */
/* header {
  background: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

header p {
  margin: 0.5em 0 0;
  font-size: 1.2em;
} */

/* Navegação */
nav {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 100;
}

.logo-unicentro {
  width: 60px;
  height: auto;
  margin: 10px;
}

.nav-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  flex-grow: 1;
  overflow-x: auto;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--text-1);
  text-align: center;
  padding: 1em 1.5em;
  text-decoration: none;
  transition: 100ms ease-out;
  white-space: nowrap;
}

.nav-item:hover {
  background-color: var(--accent-1);
  color: white;
}

header {
  text-align: center;
  padding: 4em 0;
  margin-top: 74px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-header {
  flex-direction: column;
  color: black;
}

/* Conteúdo Principal */
#home-header {
  background-image: url("imagens/hero-background.jpg");
  background-size: cover;
  background-position: center;
}

.header-content {
  background-color: rgba(0, 0, 0, 0.7);
  /* Fundo mais escuro para melhor legibilidade */
  padding: 3em 4em;
  /* Aumenta o espaçamento interno */
  border-radius: 10px;
  /* Adiciona cantos arredondados */
  max-width: 800px;
  /* Limita a largura máxima do conteúdo */
}

.header-content h1 {
  /* Aumenta o tamanho do título */
  margin-bottom: 2em;
  font-size: 2em;
}

.header-content p {
  font-size: 1.2em;
  /* Aumenta o tamanho do parágrafo */
  line-height: 1.6;
  /* Melhora o espaçamento entre as linhas */
  margin-bottom: 2em;
}

.header-read-more {
  display: inline-block;
  padding: 0.8em 1.5em;
  background-color: var(--accent-1);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: 600;
  font-size: 1.2em;
}

.header-read-more:hover {
  filter: brightness(90%);
  color: white;
}

main {
  padding: 2em;
}

section {
  margin-bottom: 3em;
}

article {
  background: #f5f5f5;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
}

article h3 {
  margin-top: 0;
}

/* Responsividade */
@media (max-width: 768px) {
  nav li {
    float: none;
    width: 100%;
  }
}

#ferramentas,
#curso,
#sobre {
  padding: 4em 3em;
  text-align: center;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 2em;
}

.ferramentas-grid {
  display: flex;
  flex-wrap: wrap;

  gap: 2em;
  justify-content: center;
}

/* Enhanced .ferramenta styling with hover effects */
.ferramenta {
  max-width: 300px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  padding: 1.4em;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Initial subtle shadow */
  overflow: hidden;
  /* Ensures the pseudo-element stays within the bounds */
  position: relative;
  /* Allows for positioning the pseudo-element */
}

.ferramenta::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #555 0%, #FFC107 100%);
  opacity: 0;
  transition: all 0.5s ease;
}

.ferramenta:hover::before {
  left: 0;
  /* Slide the gradient in on hover */
  opacity: 0.2;
  /* Slightly transparent for a subtle effect */
}

.ferramenta:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-8px);
}

.ferramenta img {
  --size: 50px;
  width: var(--size);
  height: var(--size);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 6em 1em;
}

/* style.css */
/* Estilos da página inicial podem ser reaproveitados */

#simulador .investimento {
  margin-bottom: 2em;
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 5px;
}

#simulador label {
  display: block;
  margin-top: 0.5em;
}

#simulador input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#resultados .graficos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

#resultados .graficos canvas {
  width: 400px;
  height: 300px;
}

#resultados .tabela {
  margin-top: 2em;
}

#resultados table {
  width: 100%;
  border-collapse: collapse;
}

#resultados th,
#resultados td {
  border: 1px solid #ccc;
  padding: 0.5em;
  text-align: left;
}


#simulador {
  padding: 3em 2em;
  text-align: center;
}

.form-group {
  margin-bottom: 1em;
}

.form-group label {
  display: block;
  margin-bottom: 0.5em;
}

.form-group input,
.form-group select {
  width: 100%;
  max-width: 300px;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#resultados {
  margin-top: 3em;
  text-align: left;
}

#tabela-amortizacao {
  margin-bottom: 2em;
}

#tabela-amortizacao table {
  width: 100%;
  border-collapse: collapse;
}

#tabela-amortizacao th,
#tabela-amortizacao td {
  border: 1px solid #ccc;
  padding: 0.5em;
}

#grafico-amortizacao {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 2em auto;
}

#resumo-financiamento {
  margin-bottom: 2em;
}

/* style.css */
/* Estilos da página inicial podem ser reaproveitados */
/* Adicione estilos específicos para o simulador */

#simulador form {
  background-color: #fff;
  padding: 2em;
  border-radius: 5px;
  margin-bottom: 2em;
}

#simulador label {
  display: block;
  margin-bottom: 0.5em;
}

#simulador input[type="text"] {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#resultados {
  background-color: #fff;
  padding: 2em;
  border-radius: 5px;
  text-align: center;
}

#grafico-retornos {
  max-width: 600px;
  margin: 2em auto;
}

#formula {
  padding: 3em 2em;
  text-align: center;
}

/* style.css */
/* Estilos da página inicial podem ser reaproveitados */
/* Adicione estilos específicos para o simulador */

#simulador form {
  background-color: #fff;
  padding: 2em;
  border-radius: 5px;
  margin-bottom: 2em;
}

#simulador label {
  display: block;
  margin-bottom: 0.5em;
}

#simulador input[type="text"],
#simulador select {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#resultados {
  background-color: #fff;
  padding: 2em;
  border-radius: 5px;
  text-align: center;
}

#grafico-retornos {
  max-width: 600px;
  margin: 2em auto;
}

#formula {
  padding: 3em 2em;
  text-align: center;
}

#formula>div {
  margin-bottom: 2em;
}